<div class="author_block">
    <button mat-icon-button color="primary" aria-label="Button to return" (click)="backClicked()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <p>Autor: Kostia vashchenko</p>
    <p>Git: Kostia165</p>
    <div class="links_block">
        <a href="https://github.com/Kostia165">
            <img src="assets/git_icon.png" width="50px">
        </a>
        <a href="https://www.instagram.com/koss1655/">
            <img src="assets/inst_icon.png" width="50px">
        </a>
        <a href="www.linkedin.com/in/костя-ващенко-7675ab203">
            <img src="assets/linkedin_icon.png" width="50px">
        </a>
    </div>
</div>
